# Node modules
node_modules

# Build outputs
dist

# Turbo cache
.turbo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE/editor directories
.vscode
.idea

# OS specific files
.DS_Store
Thumbs.db
